# Ignore dependencies
/node_modules

# Ignore build output
/dist

# Ignore development server files
/.serve

# Ignore editor and IDE files
/.vscode
/.idea

# Ignore logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

tmp.html